@media screen and (max-width: 1159px) {
   
  .container {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .foto {
    width: 100%;
    background-size: contain;
    height: 100vh;
    overflow: hidden;
  }

  .teste {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    width: 40%;
    height: 55rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  }

  .teste h1 {
    padding-bottom: 3rem;
  }

  .dias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;
  }
}

@media screen and (min-width: 1160px) {
  .container {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .foto {
    width: 100%;
    background-size: contain;
    height: 100vh;
    overflow: hidden;
  }

  .teste {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    width: 40%;
    height: 50%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  }

  .teste h1 {
    padding-bottom: 3rem;
  }

  .dias {
    display: flex;
    flex-direction: row;
  }
}
