.main {
    display: flex;
    justify-content: center;
    padding-right: 1rem;
}

.main p {
    text-align: center;
    padding: 2rem;
    min-width: 6rem;
    min-height: 6rem;
    background-color: #e1e1e1;
    opacity: 80%;
    border-radius: 50%;
    font-size: 2rem;
}

.main h3 {
    text-align: center;
    padding-top: 1rem;
}

@media screen and (max-width: 1468px) {
    .main p {
        text-align: center;
        padding: 1rem;
        min-width: 3rem;
        max-width: 3.5rem;
        min-height: 2rem;
        background-color: #e1e1e1;
        opacity: 80%;
        border-radius: 50%;
        font-size: 1.2rem;
    }

    .main h3 {
        font-size: 0.75rem;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
